<div class="container">
  <div class="header">
    <nav>
      <ul>
        <li><a href="index#home">Home</a></li>
        <li><a href="index#menu">Menu</a></li>
        <li><a [routerLink]="authService.getUserRole() === 'client' ? '/reservar' : '/dashboard'">Reserva YA!</a></li>
      </ul>
    </nav>
  </div>

  <section id="home" class="main">
    <div class="intro">
      <div class="intro-flex">
        <h1 class="title">PONCHOS RESTAURANT</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
          et magnis dis parturient montes, nascetur ridiculus mus. Donec quam
          felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
          consequat massa
        </p>
        <button
          mat-raised-button
          style="background-color: #c9ab81"
          (click)="openLoginDialog()"
        >
          Reserva YA!
        </button>
        <button
          mat-raised-button
          style="background-color: #c9ab81"
          (click)="openRegisterDialog()"
        >
          Reserva YA!
        </button>
      </div>
    </div>
  </section>

  <section class="menuwrapper">
    <div class="menutitles">
      <p>MENU</p>
      <nav class="title-flex">
        <li><a (click)="selectedMenu = 'hamburguesas'">Hamburguesas</a></li>
        <li><a (click)="selectedMenu = 'pizzas'">Pizzas</a></li>
        <li><a (click)="selectedMenu = 'tacos'">Tacos</a></li>
      </nav>
    </div>
    <div class="menu" id="menu">
      <div class="entradas">
        <div class="entradas-container" *ngFor="let item of getMenuItems()">
          <h3 class="foodtitle" style="color: #003049">{{ item.title }}</h3>
          <h4 class="foodPrice">{{ item.price }}</h4>
          <p class="foodDesc" style="color: #f59223">{{ item.desc }}</p>
        </div>
      </div>
    </div>
  </section>
</div>
