<div class="container">
  <div class="header">
    <nav>
      <ul>
        <li><a href="index#home">Home</a></li>
        <li><a href="index#menu">Menu</a></li>
        <li><a [routerLink]="authService.getUserRole() === 'client' ? '/reservar' : '/dashboard'">Reserva YA!</a></li>
      </ul>
    </nav>
  </div>

  <section id="home" class="main">
    <div class="intro">
      <div class="intro-flex">
        <h1 class="title">PONCHOS RESTAURANT</h1>
        <p>
          ¡Bienvenidos a nuestro restaurante! Nos complace ofrecer una amplia variedad de platos deliciosos para satisfacer todos los antojos. Desde nuestros deliciosos tacos, con su crujiente y sabroso relleno, hasta nuestras deliciosas pizzas con sus crujientes bordes de queso y nuestras hamburguesas jugosas y llenas de sabor, estamos seguros de que encontrará algo que le encantará. Además, todos nuestros ingredientes son frescos y de la más alta calidad, y nuestro equipo de chefs está comprometido con la excelencia culinaria. Así que si está buscando una experiencia culinaria inolvidable, ¡no busque más allá de nuestro restaurante!
        </p>
      </div>
    </div>
  </section>

  <section class="menuwrapper">
    <div class="menutitles">
      <p>MENU</p>
      <nav class="title-flex">
        <li><a (click)="selectedMenu = 'hamburguesas'">Hamburguesas</a></li>
        <li><a (click)="selectedMenu = 'pizzas'">Pizzas</a></li>
        <li><a (click)="selectedMenu = 'tacos'">Tacos</a></li>
      </nav>
    </div>
    <div class="menu" id="menu">
      <div class="entradas">
        <div class="entradas-container" *ngFor="let item of getMenuItems()">
          <h3 class="foodtitle" style="color: #003049">{{ item.title }}</h3>
          <h4 class="foodPrice">{{ item.price }}</h4>
          <p class="foodDesc" style="color: #f59223">{{ item.desc }}</p>
        </div>
      </div>
    </div>
  </section>
</div>
