.reservations {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    overflow-y: auto;
  }

  .card {
    width: 300px;
    height: 250px;
    background-color: #fafaf9;
    padding: 2rem;
    border-radius: 0.5rem;
    border: 2px solid #dfe0eb;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    color: white;
  }