
  <form (ngSubmit)="onSubmit()">
    <h1>Crear Cuenta</h1>
    <div class="inputs">
      <mat-form-field appearance="fill">
        <mat-label for="email">Enter your email</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          id="email"
          name="email"
          [(ngModel)]="user.email"
          required
        />
        <button mat-icon-button matSuffix>
          <mat-icon class="material-icons">email</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label for="password">Enter your password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          id="password"
          name="password"
          [(ngModel)]="user.password"
          required
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="user-type">
      <p>Seleccione el tipo de usuario:</p>
      <mat-radio-group [(ngModel)]="user.role" name="role">
        <mat-radio-button value="admin">Administrador</mat-radio-button>
        <mat-radio-button value="client">Cliente</mat-radio-button>
      </mat-radio-group>
    </div> 
    <div class="submit">
      <button mat-raised-button>Basic</button>
    </div>
  </form>