<div class="container">
    <table>
      <thead>
        <button matButton (click)='openAddDialog()'>Agregar Usuario</button>
        <tr>
          <th>_id</th>
          <th>email</th>
          <th>password</th>
          <th>role</th>
          <th>Eliminar Usuario</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user._id }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.password }}</td>
          <td>{{ user.role }}</td>
          <td>
            <button (click)="deleteUser(user)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  