<body>
    <header class="header">
        <h1 class="logo">
            <mat-icon class="dashboard">dashboard</mat-icon>
            <span>Dashboard</span>
        </h1>
        <div class="bottom-container">
            <div class="info">
                <img src="https://ilyaeru.github.io/TOP-Project-Admin-Dashboard/img/shiba-inu-.jpg">
                <div>
                    <p>Hi there</p>
                    <h1>Sebastian Sala</h1>
                </div>
            </div>
            <div class="button-container">
            </div>
        </div>
    </header>
    <aside class="aside">
        <nav class="nav">
            <a class="link" routerLink="/index" routerLinkActive="active">
                <span class="material-symbols-outlined" style="font-size: 40px; margin-right: 1em">home</span>
                <span>Home</span>
            </a>
            <a class="link" routerLink="/reservar" routerLinkActive="active">
                <span class="material-symbols-outlined" style="font-size: 40px; margin-right: 1em">account_circle</span>
                <span>Reservar</span>
            </a>
            <a class="link" routerLink="" routerLinkActive="active">
                <span class="material-symbols-outlined" style="font-size: 40px; margin-right: 1em">settings</span>
                <span>Settings</span>
            </a>
            <a class="link self" routerLink="" routerLinkActive="active">
                <span class="material-symbols-outlined" style="font-size: 40px; margin-right: 1em">account_circle</span>
                <span>Profile</span>
            </a>
            <a class="link self" routerLink="" (click)="authService.logout()">
                <span class="material-symbols-outlined" style="font-size: 40px; margin-right: 1em">keyboard_return</span>
                <span>Logout</span>
            </a>
        </nav>
    </aside>
    <main class="main">
        <div class="graphs-container">
            <div class="graph">
                <canvas id="myChart"></canvas>
            </div>
        </div>
        <div class="reservations">
            <div class="card" *ngFor="let reservation of reservations">
                <p>Name: {{ reservation.date }}</p>
                <p>Guests: {{ reservation.numOfPeople }}</p>
                <p>Time: {{ reservation.time }}</p>
                <p>Name: {{ reservation.email }}</p>
                <button mat-icon-button color="warn" (click)="removeReservation(reservation)">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="editReservation(reservation)">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
        </div>
    </main>
</body>